*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//Keyborad
.ui-keyboard{
    background-color: #666666;
    .ui-keyboard-keyset{
        background-color: #333333;
    }
}

html{
    font-family: \5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,sans-serif;;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.col-sm-14 {
    width: 100%
}

.col-sm-13 {
    width: 92.857142857%
}

.col-sm-12 {
    width: 85.714285714%
}

.col-sm-11 {
    width: 78.571428571%
}

.col-sm-10 {
    width: 71.428571428%
}

.col-sm-9 {
    width: 64.285714285%
}

.col-sm-8 {
    width: 57.142857142%
}

.col-sm-7 {
    width: 50%
}

.col-sm-6 {
    width: 42.857142857%
}

.col-sm-5 {
    width: 35.714285714%
}

.col-sm-4 {
    width: 28.571428571%
}

.col-sm-3 {
    width: 21.428571428%
}

.col-sm-2 {
    width: 14.285714285%
}

.col-sm-1 {
    width: 7.142857142%
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.col-md-12 {
    width: 100%
}

.col-md-11 {
    width: 91.66666667%
}

.col-md-10 {
    width: 83.33333333%
}

.col-md-9 {
    width: 75%
}

.col-md-8 {
    width: 66.66666667%
}

.col-md-7 {
    width: 58.33333333%
}

.col-md-6 {
    width: 50%
}

.col-md-5 {
    width: 41.66666667%
}

.col-md-4 {
    width: 33.33333333%
}

.col-md-3 {
    width: 25%
}

.col-md-2 {
    width: 16.66666667%
}

.col-md-1 {
    width: 8.33333333%
}

textarea:focus, input:focus{
    outline: 0;
}

.ct{
    text-align: center;
}
.lt{
    text-align: left !important;
}
.rt{
    text-align: right !important;
}

.abs{
    position: absolute;
}

.fl{
    float:left;
}
.fr{
    float:right;
}

.hide{
    display:none !important;
}
.show{
    display:block !important;
}

.mg-r-5{
    margin-right: 5px !important;
}
.mg-l-10{
    margin-left: 10px !important;
}
.mg-l-20{
    margin-left: 20px !important;
}
.mg-b-22{
    margin-bottom: 22px !important;
}

//clearfix all component
.tab:after, .tab:before,
.row:after, .row:before,
.input-group:after, .input-group:before,
.setting-section:after, .setting-section:before{
    display: table;
    content: " ";
}
.tab:after,
.row:after,
.input-group:after,
.setting-section:after{
    clear:both;
}

//Main Wrapper
.wrapper{
    width: 100%;
    min-width: 1000px;
    margin: 0 auto;

    .header{
        width: 100%;
        .logo-bar{
            position: relative;
            text-align: center;
            width: 100%;
            height:50px;           
            background-size: 100% 50px; 
      //      background: url('img/header_bg2.png') 0 0 no-repeat;
            //            background-color: #ccc;
     //       border-bottom:4px solid #af7e32;
            background-color:#AF7E32;
            .header-logo-bg{                
                position: absolute;
                top:-1px;
                right:0px;
            }
            .toptitle{
                font-size: 28px;
                //                font-weight: 800;;
                color:#000000;
                display: inline-block;
                margin: 2px auto;
            }
            .header-logo-fl{
                position: absolute;
                top:-2px;
                left:0px;
            }
            .header-logo-fr{
                position: absolute;
                top:0px;
                right:5px;
                //                float: right;
            }
            .top-settings{
                position: absolute;
                top:2px;
                left:5px;
                display: inline-block;
                width:44px;
                height:44px;
            }
        }
        .state-bar{
            width: 100%;
            height:35px;
            padding: 0 20px;
            border-bottom:1px solid #666;

            .datestate{
                display: inline-block;
                line-height: 21px;
                padding: 7px 5px;
            }

            ul.user-info{
                list-style: none;
                margin: 0;
                padding: 0;
                li{
                    display: inline-block;
                    margin-left: 20px;
                    line-height: 21px;
                    padding: 7px 5px;

                    span{
                        display: inline-block;
                        margin-left: 8px;

                        &.usrname{
                            min-width: 25px;
                        }

                        &.devicename{
                            min-width: 125px;
                        }
                    }
                }
            }
        }
    }
    .content{
        width:100%;
        position: relative;

        &.subpage{
            background-color: #eee;
        }

        .home-container{
            margin-top: 40px;
            //width:95%;
        }

        .setting-section{
            width: 40%;
            float: left;
            padding: 10px 20px 0px 20px;

        }
        .ip.setting-section{
            width: 60%;

            .ip-header{
                margin-bottom: 10px;

                .dhcp-check{
                    float: left;
                    padding: 5px;
                }

            }
        }

        .dsc-header{
            padding: 15px;
            font-size: 18px;
            color: #f5691d;

            #current-moid{
                margin-left: 10px;
                color:#000000;
            }
        }
        .device-status-title{
            display: inline-block;
            padding: 0px 15px;
            font-size: 18px;
            color: #f5691d;
        }
        .device-status{
            display: inline-block;
            padding: 0px 5px;
            font-size: 18px;
            //            background-color: #f59959;
            color:#000000;
        }

        .form-container{
            width: 70%;
            height:420px;
            position: relative;
            //            margin: 60px auto 50px;
            margin: 5px auto;
            .input-group-title{
                width: 25%;
            }

            &.full-height{
                height:450px;

            }


        }
        .form-container-full{
            width: 100%;
            height:420px;
            position: relative;

            &.full-height{
                height:480px;
            }

        }

        .bottom-panel{
            padding: 5px 0;
            margin: 5px 15px;
            height: 75px;
            //            border:1px solid #f5691d;
            //            background-color: #cccccc;

            .col-md-2{
                padding: 0;
            }
        }


    }

    .bottom-setting{
        background-color: #ddd;
        overflow: hidden;
        height:auto;
        margin: 0px 40px 0 ;

        .option-panel{
            //            border: 1px solid #ff0000;
            width: 80%;
            float: left;
            overflow: hidden;
            line-height: 40px;
            padding: 2px 10px;
            padding: 0;
            margin: 0;
            list-style: none;

            ul.lang-list{
                padding: 0;
                margin: 0;
                margin-left: 10px;
                list-style: none;
            }
        }
        .fixarea{
            float: right;

            & .btn.lg{
                margin: 30px 20px 0 ;

            }
        }



    }

    .footer{
        margin-top: 30px;
        padding: 10px 15px;
        background-color:  #eeeeee;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

//Tab component
ul.tab{
    padding: 0;
    margin: 0;
    list-style: none;

    >li{
        float:left;

        a{
            text-decoration: none;
            color:#666;
            display: block;
            padding: 8px 15px;

            border-style: solid;
            border-color: #ccc;
            border-width: 1px;



        }

        &.active a{
            background-color: #21a6ed;
            color:#ffffff;
            text-decoration: none;
        }



    }





}

.col{
    float:left;
    position: relative;
    min-height: 1px;
}
.homebtn{
    width: 160px;/*85%;*/
    height: 160px;/*160px;*/
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;

    border: 4px solid transparent;
    border-radius: 20px;

    color: #333333;
    text-decoration: none;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#92E4FF);
    background: linear-gradient(#FFFFFF, #92E4FF);
    background: -webkit-gradient(linear, left top, right bottom, from(#FFFFFF), to(#92E4FF));
    background: -moz-linear-gradient(top,  #FFFFFF,  #92E4FF);
    border-color: #46d1ff;    
    background-color: #92E4FF;

    position:relative;
    .home-text{
        text-decoration: none;
        display: block;
        font-size: 30px;                
        font-weight: bold;
        color: #000000;
        margin-top:-3px;
        &.five-char {
            margin-left: -7px;
        }
    }

    .home-img {     
       // height:160px; 
       // margin: -42px 0 0 24px;
       position: absolute;
       top:32px;
       left:32px;
    }

    &.color-style-1
    {
	    border:1px solid #79deff;
        background: linear-gradient(#dff7ff, #46d1ff);
	    background:-moz-linear-gradient( center top, #dff7ff 5%, #46d1ff 100% );
	    background:-ms-linear-gradient( top, #dff7ff 5%, #46d1ff 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dff7ff, endColorstr=#46d1ff);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dff7ff), color-stop(100%, #46d1ff) );
	    background-color:#92E4FF;
	    color:#333333;	
	    text-shadow:1px 1px #aceaff;
 	    -webkit-box-shadow:inset 2px 2px 3px #c5f1ff;
 	    -moz-box-shadow:inset 2px 2px 3px #c5f1ff;
 	    box-shadow:inset 2px 2px 3px #c5f1ff;
    }
    &.color-style-2
    {
        border:1px solid #ff6b6b;
        background: linear-gradient(#ffd1d1, #FF3838);
	    background:-moz-linear-gradient( center top, #ffd1d1 5%, #FF3838 100% );
	    background:-ms-linear-gradient( top, #ffd1d1 5%, #FF3838 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd1d1, endColorstr=#FF3838);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffd1d1), color-stop(100%, #FF3838) );
	    background-color:#FF8484;
	    color:#333333;	
	    text-shadow:1px 1px #ff9e9e;
 	    -webkit-box-shadow:inset 2px 2px 3px #ffb7b7;
 	    -moz-box-shadow:inset 2px 2px 3px #ffb7b7;
 	    box-shadow:inset 2px 2px 3px #ffb7b7;
    }
    &.color-style-3
    {
        border:1px solid #00d63f;
        background: linear-gradient(#3dff75, #00a330);
	    background:-moz-linear-gradient( center top, #3dff75 5%, #00a330 100% );
	    background:-ms-linear-gradient( top, #3dff75 5%, #00a330 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#3dff75, endColorstr=#00a330);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #3dff75), color-stop(100%, #00a330) );
	    background-color:#00ef46;
	    color:#333333;	
	    text-shadow:1px 1px #09ff51;
 	    -webkit-box-shadow:inset 2px 2px 3px #23ff63;
 	    -moz-box-shadow:inset 2px 2px 3px #23ff63;
 	    box-shadow:inset 2px 2px 3px #23ff63;
    }
    &.color-style-4
    {
        border:1px solid #fd76ff;
        background: linear-gradient(#fedcff, #fc43ff);
	    background:-moz-linear-gradient( center top, #fedcff 5%, #fc43ff 100% );
	    background:-ms-linear-gradient( top, #fedcff 5%, #fc43ff 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fedcff, endColorstr=#fc43ff);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fedcff), color-stop(100%, #fc43ff) );
	    background-color:#fd8fff;
	    color:#333333;	
	    text-shadow:1px 1px #fda9ff;
 	    -webkit-box-shadow:inset 2px 2px 3px #fec2ff;
 	    -moz-box-shadow:inset 2px 2px 3px #fec2ff;
 	    box-shadow:inset 2px 2px 3px #fec2ff;
    }
    &.color-style-5
    {
        border:1px solid #ffb876;
        background: linear-gradient(#ffeddc, #ff9d43);
	    background:-moz-linear-gradient( center top, #ffeddc 5%, #ff9d43 100% );
	    background:-ms-linear-gradient( top, #ffeddc 5%, #ff9d43 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeddc, endColorstr=#ff9d43);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffeddc), color-stop(100%, #ff9d43) );
	    background-color:#ffc58f;
	    color:#333333;	
	    text-shadow:1px 1px #ffd2a9;
 	    -webkit-box-shadow:inset 2px 2px 3px #ffdfc2;
 	    -moz-box-shadow:inset 2px 2px 3px #ffdfc2;
 	    box-shadow:inset 2px 2px 3px #ffdfc2;
    }
    &.color-style-6
    {
        border:1px solid #769eff;
        background: linear-gradient(#dce6ff, #437aff);
	    background:-moz-linear-gradient( center top, #dce6ff 5%, #437aff 100% );
	    background:-ms-linear-gradient( top, #dce6ff 5%, #437aff 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#dce6ff, endColorstr=#437aff);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dce6ff), color-stop(100%, #437aff) );
	    background-color:#8FB0FF;
	    color:#333333;	
	    text-shadow:1px 1px #a9c2ff;
 	    -webkit-box-shadow:inset 2px 2px 3px #c2d4ff;
 	    -moz-box-shadow:inset 2px 2px 3px #c2d4ff;
 	    box-shadow:inset 2px 2px 3px #c2d4ff;
    }
    &.color-style-7
    {
        border:1px solid #ece000;
        background: linear-gradient(#fff753, #b9b000);
	    background:-moz-linear-gradient( center top, #fff753 5%, #b9b000 100% );
	    background:-ms-linear-gradient( top, #fff753 5%, #b9b000 100% );
	    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff753, endColorstr=#b9b000);
	    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fff753), color-stop(100%, #b9b000) );
	    background-color:#FFF306;
	    color:#333333;	
	    text-shadow:1px 1px #fff420;
 	    -webkit-box-shadow:inset 2px 2px 3px #fff539;
 	    -moz-box-shadow:inset 2px 2px 3px #fff539;
 	    box-shadow:inset 2px 2px 3px #fff539;
    }
}
.fn-btn{
    min-width: 106px;
    width:80%;
    height: 68px;
    display: inline-block;
    padding: 1px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;

//    background-color: #cc556d;
//    color: #ffffff;
    text-decoration: none;

    .fn-text{
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin-bottom: 2px;
    }

    &.back{
        background-color: #999999;
        color:#ffffff;
    }
    &.delete,
    &.cancel{
        background-color: #777777;
        color: #ffffff;
    }
    &.pagenav{
        background-color: #cccccc;
        color: #373b7e;
    }
    &.submit{
        background-color: #f75205;
        color:#ffffff;
    }
    &.fixwidth{
        width: auto;
    }
}

.btn{
    min-width: 106px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;

    &.lg{
        padding: 20px 20px;
    }
    &.lg2{
        padding: 30px 20px;
        font-size: 18px;
        font-weight: 800;
    }
    &.flex{
        width:70%;
    }
    &.status-flex{
        width:80%;
    }

    &.submit{
        background-color: #f75205;
        color:#ffffff;
    }
    &.back{
        background-color: #517dd3;
        color:#ffffff;
    }
    &.pagenav{
        background-color: #cccccc;
        color: #373b7e;
    }
    &.delete,
    &.cancel{
        background-color: #777777;
        color: #ffffff;
    }
    &.fn3{
        background-color: #f44d55;
        color: #ffffff;
    }
    &.status{
        background-color: #dddddd;
        color: #777777;

        &.active{
            background-color: #f5691d;
            color: #ffffff;
        }
    }
}

.div-square
{    
    display:inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-color: #000000;
    &.cr-green
    {
        background: #00FF00;
    }
    &.cr-red
    {
        background: #FF0000;
    }
}

.btn2 {
    min-width: 130px;
    width: 10%;
    height: 68px;/*40px;*/
    display: inline-block;
    padding: 25px 5px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align:left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;

    background-color:#f5691d;/*#999;*/
    color: #ffffff;/*#373b7e;*/
    text-decoration: none;

    .fn-text{
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin-bottom: 2px;
    }
}

.button{
    //    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    //    white-space: nowrap;
    white-space: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 5px;

    &.fn-hd{
        background-color: #ccc;
        color: #000000;
        padding: 12px 12px;
    }
    &.fn-hd2{
        background-color: #2baddc;
        color: #ffffff;
        padding: 2px 12px;
    }
    &.fn{

    }
    &.fn2{
        background-color: #ccfffd;
        color: #000000;
        padding: 2px 12px;
    }
    &.fn3{
        background-color: #f44d55;
        color: #ffffff;
        padding: 2px 12px;
    }
}

.form-control{
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

}

.input-group{

    margin: 0px auto 10px;
    position: relative;
    //    display: table;
    //    max-width: 500px;
    //    border-collapse: separate;

    &.first{
        //        margin-top:30px;
    }

    &.ipstyle .input-group-title,
    &.style1 .input-group-title{
        background-color: #fc8d1e;
    }
    &.query-result .input-group-title{
        background-color: #fcd375;
        color: #101010;
    }

    &.userstyle .input-group-title{
        background-color: #4cb045;
    }
    &.style3 .input-group-title{
        background-color: #21a6ed;
    }

    .cell{
        height:45px;
        padding: 6px;
        vertical-align: middle;
        text-align: center;
    }

    .form-control{
        //        position: relative;
        //        z-index: 2;
        float: left;
        margin: 0;
        border-right:none;

    }

    .input-group-title,
    .input-group-btn,
    .form-control
    {
        border: 1px solid #ccc;
        border-right:none;
        &.last {
            border: 1px solid #ccc;
        }

    }


    .input-group-btn,
    .input-group-blank-btn,
    .form-control{
        //        position:relative;
        display: table-cell;

        &.w20{
            width: 16%;
        }
        &.w40{
            width: 40%;
        }
        &.w50{
            width: 50%;
        }
        &.w55{
            width: 55%;
        }
        &.w60{
            width: 64%;
        }
        &.w70{
            width: 70%;
        }
        &.w75{
            width: 75%;
        }
        &.w80{
            width: 80%;
        }
    }

    .input-group-title{
        width:152px;
        line-height: 33px;
        float:left;
        color:#ffffff;


    }

    .input-group-btn{
        cursor: pointer;
        background-color: #f75205;
        color:#ffffff;
    }

    .input-group-blank-btn{
        border: none;
    }
}

.input-group-divider{
    height:12px;
    width: 100%;
    //    background-color: #b3d4fc;
}
.input-group-note{
    width: 350px;
    border: 1px solid #ddd;
    //    height: 50px;
    padding: 6px;
    margin-bottom:10px;
    span{
        //        display: inline-block;
    }
    &.inline-block{
        display:inline-block;
    }

}

table.table-list{
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    th,td{
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: middle;
        border-top: 1px solid #ddd;
    }

    thead{
        background-color: #f7831f;
        color:#ffffff;
        th{
            vertical-align: middle;
            border-bottom: 2px solid #ddd;
            text-align: center;

            &.hd2{
                border-bottom: 1px solid #ddd;
                border-right: 1px solid #ffffff;
                border-left: 1px solid #ffffff;

            }

        }
    }


    tbody{

        tr.list-row{
            display: none;

            td{
                .item-index{
                    margin-left: 2px;
                    display: inline-block;
                    float: right;
                }
            }
        }
        tr.list-row2{
            td{
                padding: 0;
                line-height: 1.42857143;
                vertical-align: middle;
                border-top: 1px solid #ddd;
                .form-control{
                    padding: 8px;
                }
            }
        }
        tr.list-row3 {
            td{
                .item-index{
                    margin-left: 2px;
                    display: inline-block;
                    float: right;
                }
            }
        }
    }

}

.modal-view{
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: 5;

    &:after{
        content:'';
        background-color: #0f2037;
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        opacity:0.5;
    }

    .modal-frame{
        z-index: 6;
        opacity:1;
        position: absolute;
        top:100px;
        left:50%;
        margin-left: -250px;
        width: 500px;
        height:250px;
        border-radius: 3px;
        background-color: #696969;
        color:#ffffff;

        .modal-header{
            font-size: 18px;
            height: 40px;
            text-align: center;
            line-height: 40px;

        }
        .modal-body{
            padding: 10px 15px;

            .input-group{
                margin: 20px 15px;
                .input-group-title{
                    text-align: right;
                    padding-right: 10px;
                }
                .input-group-title{
                    border: none;
                }
                .form-control
                {
                    border: 1px solid #ffffff;
                }
            }

        }
        .modal-footer{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px 38px 20px;
        }
        .modal-btn{
            border: none;
            width:100%;
            padding: 15px 0;
            &.submit{
                background-color: #f7831f;
                color:#ffffff;
            }
            &.cancel{
                background-color: #bab9b5;
                color:#333333;
            }
        }


    }
}

.stop-status{
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    background-color: #f57e76;
    color:#ffffff;
    font-weight: 800;
    //    border:1px solid #999999;
}





