﻿*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ui-keyboard {
  background-color: #666666; }
  .ui-keyboard .ui-keyboard-keyset {
    background-color: #333333; }

html {
  font-family: \5FAE\8EDF\6B63\9ED1\9AD4, Microsoft JhengHei, MingLiU, sans-serif; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.col-sm-14 {
  width: 100%; }

.col-sm-13 {
  width: 92.85714%; }

.col-sm-12 {
  width: 85.71429%; }

.col-sm-11 {
  width: 78.57143%; }

.col-sm-10 {
  width: 71.42857%; }

.col-sm-9 {
  width: 64.28571%; }

.col-sm-8 {
  width: 57.14286%; }

.col-sm-7 {
  width: 50%; }

.col-sm-6 {
  width: 42.85714%; }

.col-sm-5 {
  width: 35.71429%; }

.col-sm-4 {
  width: 28.57143%; }

.col-sm-3 {
  width: 21.42857%; }

.col-sm-2 {
  width: 14.28571%; }

.col-sm-1 {
  width: 7.14286%; }

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left; }

.col-md-12 {
  width: 100%; }

.col-md-11 {
  width: 91.66667%; }

.col-md-10 {
  width: 83.33333%; }

.col-md-9 {
  width: 75%; }

.col-md-8 {
  width: 66.66667%; }

.col-md-7 {
  width: 58.33333%; }

.col-md-6 {
  width: 50%; }

.col-md-5 {
  width: 41.66667%; }

.col-md-4 {
  width: 33.33333%; }

.col-md-3 {
  width: 25%; }

.col-md-2 {
  width: 16.66667%; }

.col-md-1 {
  width: 8.33333%; }

textarea:focus, input:focus {
  outline: 0; }

.ct {
  text-align: center; }

.lt {
  text-align: left !important; }

.rt {
  text-align: right !important; }

.abs {
  position: absolute; }

.fl {
  float: left; }

.fr {
  float: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.mg-r-5 {
  margin-right: 5px !important; }

.mg-l-10 {
  margin-left: 10px !important; }

.mg-l-20 {
  margin-left: 20px !important; }

.mg-b-22 {
  margin-bottom: 22px !important; }

.tab:after, .tab:before, .row:after, .row:before, .input-group:after, .input-group:before, .setting-section:after, .setting-section:before {
  display: table;
  content: " "; }

.tab:after, .row:after, .input-group:after, .setting-section:after {
  clear: both; }

.wrapper {
  width: 100%;
  min-width: 1000px;
  margin: 0 auto; }
  .wrapper .header {
    width: 100%; }
    .wrapper .header .logo-bar {
      position: relative;
      text-align: center;
      width: 100%;
      height: 50px;
      background-size: 100% 50px;
      background-color: #AF7E32; }
      .wrapper .header .logo-bar .header-logo-bg {
        position: absolute;
        top: -1px;
        right: 0px; }
      .wrapper .header .logo-bar .toptitle {
        font-size: 28px;
        color: #000000;
        display: inline-block;
        margin: 2px auto; }
      .wrapper .header .logo-bar .header-logo-fl {
        position: absolute;
        top: -2px;
        left: 0px; }
      .wrapper .header .logo-bar .header-logo-fr {
        position: absolute;
        top: 0px;
        right: 5px; }
      .wrapper .header .logo-bar .top-settings {
        position: absolute;
        top: 2px;
        left: 5px;
        display: inline-block;
        width: 44px;
        height: 44px; }
    .wrapper .header .state-bar {
      width: 100%;
      height: 35px;
      padding: 0 20px;
      border-bottom: 1px solid #666; }
      .wrapper .header .state-bar .datestate {
        display: inline-block;
        line-height: 21px;
        padding: 7px 5px; }
      .wrapper .header .state-bar ul.user-info {
        list-style: none;
        margin: 0;
        padding: 0; }
        .wrapper .header .state-bar ul.user-info li {
          display: inline-block;
          margin-left: 20px;
          line-height: 21px;
          padding: 7px 5px; }
          .wrapper .header .state-bar ul.user-info li span {
            display: inline-block;
            margin-left: 8px; }
            .wrapper .header .state-bar ul.user-info li span.usrname {
              min-width: 25px; }
            .wrapper .header .state-bar ul.user-info li span.devicename {
              min-width: 125px; }
  .wrapper .content {
    width: 100%;
    position: relative; }
    .wrapper .content.subpage {
      background-color: #eee; }
    .wrapper .content .home-container {
      margin-top: 40px; }
    .wrapper .content .setting-section {
      width: 40%;
      float: left;
      padding: 10px 20px 0px 20px; }
    .wrapper .content .ip.setting-section {
      width: 60%; }
      .wrapper .content .ip.setting-section .ip-header {
        margin-bottom: 10px; }
        .wrapper .content .ip.setting-section .ip-header .dhcp-check {
          float: left;
          padding: 5px; }
    .wrapper .content .dsc-header {
      padding: 15px;
      font-size: 18px;
      color: #f5691d; }
      .wrapper .content .dsc-header #current-moid {
        margin-left: 10px;
        color: #000000; }
    .wrapper .content .device-status-title {
      display: inline-block;
      padding: 0px 15px;
      font-size: 18px;
      color: #f5691d; }
    .wrapper .content .device-status {
      display: inline-block;
      padding: 0px 5px;
      font-size: 18px;
      color: #000000; }
    .wrapper .content .form-container {
      width: 70%;
      height: 420px;
      position: relative;
      margin: 5px auto; }
      .wrapper .content .form-container .input-group-title {
        width: 25%; }
      .wrapper .content .form-container.full-height {
        height: 450px; }
    .wrapper .content .form-container-full {
      width: 100%;
      height: 420px;
      position: relative; }
      .wrapper .content .form-container-full.full-height {
        height: 480px; }
    .wrapper .content .bottom-panel {
      padding: 5px 0;
      margin: 5px 15px;
      height: 75px; }
      .wrapper .content .bottom-panel .col-md-2 {
        padding: 0; }
  .wrapper .bottom-setting {
    background-color: #ddd;
    overflow: hidden;
    height: auto;
    margin: 0px 40px 0; }
    .wrapper .bottom-setting .option-panel {
      width: 80%;
      float: left;
      overflow: hidden;
      line-height: 40px;
      padding: 2px 10px;
      padding: 0;
      margin: 0;
      list-style: none; }
      .wrapper .bottom-setting .option-panel ul.lang-list {
        padding: 0;
        margin: 0;
        margin-left: 10px;
        list-style: none; }
    .wrapper .bottom-setting .fixarea {
      float: right; }
      .wrapper .bottom-setting .fixarea .btn.lg {
        margin: 30px 20px 0; }
  .wrapper .footer {
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;
    width: 100%; }

ul.tab {
  padding: 0;
  margin: 0;
  list-style: none; }
  ul.tab > li {
    float: left; }
    ul.tab > li a {
      text-decoration: none;
      color: #666;
      display: block;
      padding: 8px 15px;
      border-style: solid;
      border-color: #ccc;
      border-width: 1px; }
    ul.tab > li.active a {
      background-color: #21a6ed;
      color: #ffffff;
      text-decoration: none; }

.col {
  float: left;
  position: relative;
  min-height: 1px; }

.homebtn {
  width: 160px;
  /*85%;*/
  height: 160px;
  /*160px;*/
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 4px solid transparent;
  border-radius: 20px;
  color: #333333;
  text-decoration: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#92E4FF);
  background: linear-gradient(#FFFFFF, #92E4FF);
  background: -webkit-gradient(linear, left top, right bottom, from(#FFFFFF), to(#92E4FF));
  background: -moz-linear-gradient(top, #FFFFFF, #92E4FF);
  border-color: #46d1ff;
  background-color: #92E4FF;
  position: relative; }
  .homebtn .home-text {
    text-decoration: none;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-top: -3px; }
    .homebtn .home-text.five-char {
      margin-left: -7px; }
  .homebtn .home-img {
    position: absolute;
    top: 32px;
    left: 32px; }
  .homebtn.color-style-1 {
    border: 1px solid #79deff;
    background: linear-gradient(#dff7ff, #46d1ff);
    background: -moz-linear-gradient(center top, #dff7ff 5%, #46d1ff 100%);
    background: -ms-linear-gradient(top, #dff7ff 5%, #46d1ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dff7ff, endColorstr=#46d1ff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dff7ff), color-stop(100%, #46d1ff));
    background-color: #92E4FF;
    color: #333333;
    text-shadow: 1px 1px #aceaff;
    -webkit-box-shadow: inset 2px 2px 3px #c5f1ff;
    -moz-box-shadow: inset 2px 2px 3px #c5f1ff;
    box-shadow: inset 2px 2px 3px #c5f1ff; }
  .homebtn.color-style-2 {
    border: 1px solid #ff6b6b;
    background: linear-gradient(#ffd1d1, #FF3838);
    background: -moz-linear-gradient(center top, #ffd1d1 5%, #FF3838 100%);
    background: -ms-linear-gradient(top, #ffd1d1 5%, #FF3838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd1d1, endColorstr=#FF3838);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffd1d1), color-stop(100%, #FF3838));
    background-color: #FF8484;
    color: #333333;
    text-shadow: 1px 1px #ff9e9e;
    -webkit-box-shadow: inset 2px 2px 3px #ffb7b7;
    -moz-box-shadow: inset 2px 2px 3px #ffb7b7;
    box-shadow: inset 2px 2px 3px #ffb7b7; }
  .homebtn.color-style-3 {
    border: 1px solid #00d63f;
    background: linear-gradient(#3dff75, #00a330);
    background: -moz-linear-gradient(center top, #3dff75 5%, #00a330 100%);
    background: -ms-linear-gradient(top, #3dff75 5%, #00a330 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3dff75, endColorstr=#00a330);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #3dff75), color-stop(100%, #00a330));
    background-color: #00ef46;
    color: #333333;
    text-shadow: 1px 1px #09ff51;
    -webkit-box-shadow: inset 2px 2px 3px #23ff63;
    -moz-box-shadow: inset 2px 2px 3px #23ff63;
    box-shadow: inset 2px 2px 3px #23ff63; }
  .homebtn.color-style-4 {
    border: 1px solid #fd76ff;
    background: linear-gradient(#fedcff, #fc43ff);
    background: -moz-linear-gradient(center top, #fedcff 5%, #fc43ff 100%);
    background: -ms-linear-gradient(top, #fedcff 5%, #fc43ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fedcff, endColorstr=#fc43ff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fedcff), color-stop(100%, #fc43ff));
    background-color: #fd8fff;
    color: #333333;
    text-shadow: 1px 1px #fda9ff;
    -webkit-box-shadow: inset 2px 2px 3px #fec2ff;
    -moz-box-shadow: inset 2px 2px 3px #fec2ff;
    box-shadow: inset 2px 2px 3px #fec2ff; }
  .homebtn.color-style-5 {
    border: 1px solid #ffb876;
    background: linear-gradient(#ffeddc, #ff9d43);
    background: -moz-linear-gradient(center top, #ffeddc 5%, #ff9d43 100%);
    background: -ms-linear-gradient(top, #ffeddc 5%, #ff9d43 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeddc, endColorstr=#ff9d43);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ffeddc), color-stop(100%, #ff9d43));
    background-color: #ffc58f;
    color: #333333;
    text-shadow: 1px 1px #ffd2a9;
    -webkit-box-shadow: inset 2px 2px 3px #ffdfc2;
    -moz-box-shadow: inset 2px 2px 3px #ffdfc2;
    box-shadow: inset 2px 2px 3px #ffdfc2; }
  .homebtn.color-style-6 {
    border: 1px solid #769eff;
    background: linear-gradient(#dce6ff, #437aff);
    background: -moz-linear-gradient(center top, #dce6ff 5%, #437aff 100%);
    background: -ms-linear-gradient(top, #dce6ff 5%, #437aff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dce6ff, endColorstr=#437aff);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #dce6ff), color-stop(100%, #437aff));
    background-color: #8FB0FF;
    color: #333333;
    text-shadow: 1px 1px #a9c2ff;
    -webkit-box-shadow: inset 2px 2px 3px #c2d4ff;
    -moz-box-shadow: inset 2px 2px 3px #c2d4ff;
    box-shadow: inset 2px 2px 3px #c2d4ff; }
  .homebtn.color-style-7 {
    border: 1px solid #ece000;
    background: linear-gradient(#fff753, #b9b000);
    background: -moz-linear-gradient(center top, #fff753 5%, #b9b000 100%);
    background: -ms-linear-gradient(top, #fff753 5%, #b9b000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff753, endColorstr=#b9b000);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff753), color-stop(100%, #b9b000));
    background-color: #FFF306;
    color: #333333;
    text-shadow: 1px 1px #fff420;
    -webkit-box-shadow: inset 2px 2px 3px #fff539;
    -moz-box-shadow: inset 2px 2px 3px #fff539;
    box-shadow: inset 2px 2px 3px #fff539; }

.fn-btn {
  min-width: 106px;
  width: 80%;
  height: 68px;
  display: inline-block;
  padding: 1px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none; }
  .fn-btn .fn-text {
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 2px; }
  .fn-btn.back {
    background-color: #999999;
    color: #ffffff; }
  .fn-btn.delete, .fn-btn.cancel {
    background-color: #777777;
    color: #ffffff; }
  .fn-btn.pagenav {
    background-color: #cccccc;
    color: #373b7e; }
  .fn-btn.submit {
    background-color: #f75205;
    color: #ffffff; }
  .fn-btn.fixwidth {
    width: auto; }

.btn {
  min-width: 106px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px; }
  .btn.lg {
    padding: 20px 20px; }
  .btn.lg2 {
    padding: 30px 20px;
    font-size: 18px;
    font-weight: 800; }
  .btn.flex {
    width: 70%; }
  .btn.status-flex {
    width: 80%; }
  .btn.submit {
    background-color: #f75205;
    color: #ffffff; }
  .btn.back {
    background-color: #517dd3;
    color: #ffffff; }
  .btn.pagenav {
    background-color: #cccccc;
    color: #373b7e; }
  .btn.delete, .btn.cancel {
    background-color: #777777;
    color: #ffffff; }
  .btn.fn3 {
    background-color: #f44d55;
    color: #ffffff; }
  .btn.status {
    background-color: #dddddd;
    color: #777777; }
    .btn.status.active {
      background-color: #f5691d;
      color: #ffffff; }

.div-square {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-color: #000000; }
  .div-square.cr-green {
    background: #00FF00; }
  .div-square.cr-red {
    background: #FF0000; }

.btn2 {
  min-width: 130px;
  width: 10%;
  height: 68px;
  /*40px;*/
  display: inline-block;
  padding: 25px 5px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f5691d;
  /*#999;*/
  color: #ffffff;
  /*#373b7e;*/
  text-decoration: none; }
  .btn2 .fn-text {
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 2px; }

.button {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px; }
  .button.fn-hd {
    background-color: #ccc;
    color: #000000;
    padding: 12px 12px; }
  .button.fn-hd2 {
    background-color: #2baddc;
    color: #ffffff;
    padding: 2px 12px; }
  .button.fn2 {
    background-color: #ccfffd;
    color: #000000;
    padding: 2px 12px; }
  .button.fn3 {
    background-color: #f44d55;
    color: #ffffff;
    padding: 2px 12px; }

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px;
  font-size: 16px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.input-group {
  margin: 0px auto 10px;
  position: relative; }
  .input-group.ipstyle .input-group-title, .input-group.style1 .input-group-title {
    background-color: #fc8d1e; }
  .input-group.query-result .input-group-title {
    background-color: #fcd375;
    color: #101010; }
  .input-group.userstyle .input-group-title {
    background-color: #4cb045; }
  .input-group.style3 .input-group-title {
    background-color: #21a6ed; }
  .input-group .cell {
    height: 45px;
    padding: 6px;
    vertical-align: middle;
    text-align: center; }
  .input-group .form-control {
    float: left;
    margin: 0;
    border-right: none; }
  .input-group .input-group-title, .input-group .input-group-btn, .input-group .form-control {
    border: 1px solid #ccc;
    border-right: none; }
    .input-group .input-group-title.last, .input-group .input-group-btn.last, .input-group .form-control.last {
      border: 1px solid #ccc; }
  .input-group .input-group-btn, .input-group .input-group-blank-btn, .input-group .form-control {
    display: table-cell; }
    .input-group .input-group-btn.w20, .input-group .input-group-blank-btn.w20, .input-group .form-control.w20 {
      width: 16%; }
    .input-group .input-group-btn.w40, .input-group .input-group-blank-btn.w40, .input-group .form-control.w40 {
      width: 40%; }
    .input-group .input-group-btn.w50, .input-group .input-group-blank-btn.w50, .input-group .form-control.w50 {
      width: 50%; }
    .input-group .input-group-btn.w55, .input-group .input-group-blank-btn.w55, .input-group .form-control.w55 {
      width: 55%; }
    .input-group .input-group-btn.w60, .input-group .input-group-blank-btn.w60, .input-group .form-control.w60 {
      width: 64%; }
    .input-group .input-group-btn.w70, .input-group .input-group-blank-btn.w70, .input-group .form-control.w70 {
      width: 70%; }
    .input-group .input-group-btn.w75, .input-group .input-group-blank-btn.w75, .input-group .form-control.w75 {
      width: 75%; }
    .input-group .input-group-btn.w80, .input-group .input-group-blank-btn.w80, .input-group .form-control.w80 {
      width: 80%; }
  .input-group .input-group-title {
    width: 152px;
    line-height: 33px;
    float: left;
    color: #ffffff; }
  .input-group .input-group-btn {
    cursor: pointer;
    background-color: #f75205;
    color: #ffffff; }
  .input-group .input-group-blank-btn {
    border: none; }

.input-group-divider {
  height: 12px;
  width: 100%; }

.input-group-note {
  width: 350px;
  border: 1px solid #ddd;
  padding: 6px;
  margin-bottom: 10px; }
  .input-group-note.inline-block {
    display: inline-block; }

table.table-list {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd; }
  table.table-list th, table.table-list td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: middle;
    border-top: 1px solid #ddd; }
  table.table-list thead {
    background-color: #f7831f;
    color: #ffffff; }
    table.table-list thead th {
      vertical-align: middle;
      border-bottom: 2px solid #ddd;
      text-align: center; }
      table.table-list thead th.hd2 {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ffffff;
        border-left: 1px solid #ffffff; }
  table.table-list tbody tr.list-row {
    display: none; }
    table.table-list tbody tr.list-row td .item-index {
      margin-left: 2px;
      display: inline-block;
      float: right; }
  table.table-list tbody tr.list-row2 td {
    padding: 0;
    line-height: 1.42857;
    vertical-align: middle;
    border-top: 1px solid #ddd; }
    table.table-list tbody tr.list-row2 td .form-control {
      padding: 8px; }
  table.table-list tbody tr.list-row3 td .item-index {
    margin-left: 2px;
    display: inline-block;
    float: right; }

.modal-view {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5; }
  .modal-view:after {
    content: '';
    background-color: #0f2037;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; }
  .modal-view .modal-frame {
    z-index: 6;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    height: 250px;
    border-radius: 3px;
    background-color: #696969;
    color: #ffffff; }
    .modal-view .modal-frame .modal-header {
      font-size: 18px;
      height: 40px;
      text-align: center;
      line-height: 40px; }
    .modal-view .modal-frame .modal-body {
      padding: 10px 15px; }
      .modal-view .modal-frame .modal-body .input-group {
        margin: 20px 15px; }
        .modal-view .modal-frame .modal-body .input-group .input-group-title {
          text-align: right;
          padding-right: 10px; }
        .modal-view .modal-frame .modal-body .input-group .input-group-title {
          border: none; }
        .modal-view .modal-frame .modal-body .input-group .form-control {
          border: 1px solid #ffffff; }
    .modal-view .modal-frame .modal-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 38px 20px; }
    .modal-view .modal-frame .modal-btn {
      border: none;
      width: 100%;
      padding: 15px 0; }
      .modal-view .modal-frame .modal-btn.submit {
        background-color: #f7831f;
        color: #ffffff; }
      .modal-view .modal-frame .modal-btn.cancel {
        background-color: #bab9b5;
        color: #333333; }

.stop-status {
  border-radius: 3px;
  margin-top: 20px;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  background-color: #f57e76;
  color: #ffffff;
  font-weight: 800; }

/*# sourceMappingURL=base.css.map */