﻿﻿@{
    ViewBag.Title = "進出站報工";
    ViewBag.TopTitle = "進出站報工";


}
@section Scripts{
    <script src="~/Scripts/app/trackinout/index.js"></script>
}



<div class="content">
    <!--input id="btnLogout" type="button" class="btn lg back abs" style="right:15px;top:20px;" value="登出" /-->
    <a id="btnLogout" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
        <span class="fn-text">登出</span>
        <img src="~/Content/img/logout.png" height="30px">
    </a>
    <div class="dsc-header">
    機台代碼:
        <span>請刷入機台條碼</span>
    </div>
    <div class="form-container">
        <div class="input-group style1" style="padding-top: 50px;">
            <span class="input-group-title cell">機台代碼</span>
            <input id="txtEquipment" class="form-control w75 cell last" type="text" value="@ViewData["Equipment"]" disabled="disabled"/>
        </div>
    </div>
    <div class="bottom-panel row">

        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <!--input id="btnTrackin" type="button" class="btn lg submit" style="right:15px;top:20px;" value="進站" /-->
            <a id="btnTrackin" href="javascript: void(0)" class="fr fn-btn submit fixwidth" style="right:15px;top:20px;">
                <span class="fn-text">進站</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <!--input id="btnTrackout" type="button" class="btn lg submit" style="right:15px;top:20px;" value="出站" /-->
            <a id="btnTrackout" href="javascript: void(0)" class="fr fn-btn submit fixwidth" style="right:15px;top:20px;">
                <span class="fn-text">出站</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
    </div>
</div>

