﻿@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}
<div class="dsc-header">
    異常原因輸入:
    <span>製令資訊</span>
    <span id="current-moid"></span>
</div>
<div class="form-container">
    <table class="table-list exception">
        <thead>
            <tr>
                <th style="width:10%;">項次</th>
                <th style="width:30%;">編號</th>
                <th style="width:40%;">異常原因</th>
                <th style="width:20%;">數量</th>
            </tr>
        </thead>
        <tbody>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">1</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">2</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">3</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">4</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">5</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">6</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">7</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">8</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">9</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox">
                    <span class="item-index">10</span>
                </td>
                <td>
                    <input class="form-control exception-code" type="text" />
                </td>
                <td>
                    <input class="form-control exception-name" type="text" />
                </td>
                <td>
                    <input class="form-control exception-qty " type="text" value="0"/>
                </td>
            </tr>

        </tbody>
    </table>

</div>
<div class="bottom-panel row">
    <div class="col-md-2">
        <a id="exDeleteBtn" href="javascript: void(0)" class="fl fn-btn delete hide">
            <span class="fn-text">刪除</span>
            <img src="~/Content/img/delete_input.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <a id="prevExceptionPage" href="javascript: void(0)" class="fl fn-btn pagenav">
            <span class="fn-text">上一頁</span>
            <img src="~/Content/img/prev_page.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">
        <a id="nextExceptionPage" href="javascript: void(0)" class="fr fn-btn pagenav">
            <span class="fn-text">下一頁</span>
            <img src="~/Content/img/next_page.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">
        <a id="saveExCloseBtn" href="javascript: void(0)" class="fr fn-btn submit">
            <span class="fn-text">確定</span>
            <img src="~/Content/img/completed.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">
    </div>

</div>