﻿@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}
<div class="dsc-header">
    作業人員明細:
    <span>目前製令</span>
    <span id="current-moid"></span>
</div>
<div class="form-container">

    <table class="table-list employee">
        <thead>
        <tr>
            <th style="width:10%;">&nbsp;</th>
            <th style="width:40%;">員工代碼</th>
            <th style="width:30%;">員工姓名</th>
            <th style="width:20%;">人時(分)</th>
        </tr>
        </thead>
        <tbody>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">1</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">2</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">3</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">4</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">5</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">6</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">7</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">8</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">9</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">10</span>
                </td>
                <td>
                    <input class="form-control employee-id" type="text"/>
                </td>
                <td>
                    <input class="form-control employee-name" type="text"/>
                </td>
                <td>
                    <input class="form-control  single-work-time" type="text" value=""/>
                </td>
            </tr>
        </tbody>
    </table>


</div>
<div class="bottom-panel row">
    <div class="col-md-2">
        <a id="emDeleteBtn" href="javascript: void(0)" class="fl fn-btn delete hide">
            <span class="fn-text">刪除</span>
            <img src="~/Content/img/delete_input.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">
        <a id="prevEmployeePage" href="javascript: void(0)" class="fl fn-btn pagenav">
            <span class="fn-text">上一頁</span>
            <img src="~/Content/img/prev_page.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">
        <a id="nextEmployeePage" href="javascript: void(0)" class="fr fn-btn pagenav">
            <span class="fn-text">下一頁</span>
            <img src="~/Content/img/next_page.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">
        <a id="saveEmCloseBtn" href="javascript: void(0)" class="fr fn-btn submit">
            <span class="fn-text">確定</span>
            <img src="~/Content/img/completed.png" height="30px">
        </a>
    </div>
    <div class="col-md-2">

    </div>


</div>