﻿@{
    ViewBag.Title = "進出站報工";
    ViewBag.TopTitle = "進出站報工";
}
@section Scripts{
    <script src="~/Scripts/app/trackinout/trackinForm.js"></script>
    <script type="text/javascript">
        var focusItem = null;
        var inputs = $('input[type=text]');
        $('input[type=text]').focus(function () {
            focusItem = inputs.index($(this));
        });

        $(".track-content").keydown(function (event) {
            if (event.keyCode == 13) {  //if press enter
                //inputs.eq((focusItem + 1)).focus();
                $(".track-content").blur();
            }
        });
    </script>
}

<div class="content">

    <div class="dsc-header">
        製令輸入:
        <span>請刷入工單製令條碼</span>
    </div>
    <div class="form-container">

        <table class="table-list">
            <thead>
                <tr>
                    <th style="width:10%;">&nbsp;</th>
                    <th style="width:10%;">項次</th>
                    <th style="width:60%;">製令單別-單號;工序;製程;生產線</th>
                    <th style="width:20%;">數量</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">1</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">2</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">3</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">4</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">5</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">6</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">7</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">8</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">9</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox" >
                    </td>
                    <td class="ct">10</td>
                    <td>
                        <input class="form-control track-content" type="text"/>
                    </td>
                    <td>
                        <input class="form-control  track-num" type="text"/>
                        <input class="track-maxnum" type="hidden" />
                    </td>
                </tr>

            </tbody>
        </table>


    </div>
    <div class="bottom-panel row">
        <div class="col-md-2">
            <a id="btnLogout" href="javascript: void(0)" class="fl fn-btn back">
                <span class="fn-text">登出</span>
                <img src="~/Content/img/logout.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="mainDeleteBtn" href="javascript: void(0)" class="fl fn-btn delete hide">
                <span class="fn-text">刪除</span>
                <img src="~/Content/img/delete_input.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="prevPage" href="javascript: void(0)" class="fl fn-btn pagenav">
                <span class="fn-text">上一頁</span>
                <img src="~/Content/img/prev_page.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="nextPage" href="javascript: void(0)" class="fr fn-btn pagenav">
                <span class="fn-text">下一頁</span>
                <img src="~/Content/img/next_page.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="trackinBtn" href="javascript: void(0)" class="fr fn-btn submit" style="right:15px;top:20px;">
                <span class="fn-text">執行進站</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">

        </div>


    </div>
</div>
