<div class="dsc-header">
  制令輸入:
  <span>請刷入工單制令條碼</span>
</div>
<div class="form-container-full">

  <table class="table-list employee">
    <thead>
    <tr>
      <th style="width:6.4%;">&nbsp;</th>
      <th style="width:33%;">製令單別-單號;工序;製程;生產線</th>
      <th style="width:8.2%;">數量</th>
      <th style="width:9.6%;">總人時</th>
      <th style="width:8.5%;">
        <input id="personTimeBtnTop" type="button" class="button fn-hd" value="人時" />
      </th>
      <th style="width:8.7%;">
        <input id="deviceTimeBtnTop" type="button" class="button fn-hd" value="機時" />
      </th>
      <th style="width:8.2%;">
        <input id="personNumBtnTop" type="button" class="button fn-hd" value="人數" />
      </th>
      <th style="width:8.8%;">
        <input id="detailBtnTop" type="button" class="button fn-hd2" value="工時&#10;明細" />
      </th>
      <th style="width:8.6%;">&nbsp;</th>

    </tr>
    </thead>
    <tbody>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">1</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">2</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">3</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">4</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">5</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">6</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">7</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">8</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">9</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>
    <tr class="list-row">
      <td class="ct">
        <input type="checkbox" >
        <span class = "item-index">10</span>
      </td>
      <td>
        <input class="form-control trackout-content" type="text"/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-num" type="text" value=""/>
      </td>
      <td>
        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-time" type="text" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-device-time" type="text" disabled="disabled" value=""/>
      </td>
      <td>
        <input class="form-control qwerty-num trackout-person-num" type="text" value=""/>
      </td>
      <td class="ct">
        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
      </td>
      <td>
        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
      </td>
    </tr>



    </tbody>
  </table>


</div>
<div class="bottom-panel row">
  <div class="col-md-2">
    <input type="button" class="btn lg back" value="登出" />
  </div>
  <div class="col-md-2">
    <a href="javascript: void(0)" class="fl">
      <input type="button" class="btn lg delete hide" value="刪除" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="javascript: void(0)" class="fl ">
      <input id="prevPage" type="button" class="btn lg pagenav" value="上一頁" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="javascript: void(0)" class="fr">
      <input id="nextPage" type="button" class="btn lg pagenav" value="下一頁" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="@Url.Action("Trackin", "Trackinout")" class="fr">
    <input id="trackinBtn" type="button" class="btn lg submit"  value="轉倉管入庫" />
    </a>
  </div>
  <div class="col-md-2">
    <a href="@Url.Action("Trackin", "Trackinout")" class="fr">
    <input id="trackoutFinishBtn" type="button" class="btn lg submit" value="完工" />
    </a>
  </div>


</div>