﻿@{
    ViewBag.Title = "簡易報工";
    ViewBag.TopTitle = "簡易報工";
}
@section Scripts{
<script src="~/Scripts/app/simpleTrack/simpleTrackForm.js"></script>
}
<div class="content main">
    <div class="dsc-header">
        製令輸入:
        <span>請刷入工單製令條碼</span>
    </div>
    <div class="form-container-full">

        <table class="table-list main">
            <thead>
            <tr>
                <th style="width:6.4%;">&nbsp;</th>
                <th style="width:33%;">製令單別-單號;工序;製程;生產線</th>
                <th style="width:8.2%;">數量</th>
                <th style="width:9.6%;">總人時</th>
                <th style="width:9.3%;">
                    <input id="personTimeBtnTop" type="button" class="button fn-hd" value="人時" />
                </th>
                <th style="width:8.7%;">
                    <input id="deviceTimeBtnTop" type="button" class="button fn-hd" value="機時" />
                </th>
                <th style="width:8%;">
                    <input id="personNumBtnTop" type="button" class="button fn-hd" value="人數" />
                </th>
                <th style="width:8.6%;">
                    <input id="detailBtnTop" type="button" class="button fn-hd2" value="工時&#10;明細" />
                </th>
                <th style="width:8.2%;">&nbsp;</th>

            </tr>
            </thead>
            <tbody>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">1</span>
                </td>
                <td>
                    <!--moid-->
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <!--qty-->
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <!--ManWorkTime 總人時-->
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <!--AvrWorkTime 人時-->
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <!--DeveiceTime 機時-->
                    <input class="form-control  trackout-device-time" type="text"  value=""/>
                </td>
                <td>
                    <!--ManNum 人數-->
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">2</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text"  value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">3</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">4</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">5</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text"  value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">6</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">7</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text"  value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">8</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text"  value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">9</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text"  value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>
            <tr class="list-row">
                <td class="ct">
                    <input type="checkbox" >
                    <span class = "item-index">10</span>
                </td>
                <td>
                    <input class="form-control trackout-content" type="text"/>
                </td>
                <td>
                    <input class="form-control  trackout-num" type="text" value=""/>
                    <input class="track-maxnum" type="hidden" />
                </td>
                <td>
                    <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-device-time" type="text" value=""/>
                </td>
                <td>
                    <input class="form-control  trackout-person-num" type="text" value=""/>
                </td>
                <td class="ct">
                    <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                </td>
                <td>
                    <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                </td>
            </tr>



            </tbody>
        </table>


    </div>
    <div class="bottom-panel row">
        <div class="col-md-2">
            <!--input id="btnLogout" type="button" class="btn lg back" value="登出" /-->
            <a id="btnLogout" href="javascript: void(0)" class="fl fn-btn back">
                <span class="fn-text">登出</span>
                <img src="~/Content/img/logout.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="mainDeleteBtn" href="javascript: void(0)" class="fl fn-btn delete hide">
                <span class="fn-text">刪除</span>
                <img src="~/Content/img/delete_input.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="prevPage" href="javascript: void(0)" class="fl fn-btn pagenav">
                <span class="fn-text">上一頁</span>
                <img src="~/Content/img/prev_page.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="nextPage" href="javascript: void(0)" class="fr fn-btn pagenav">
                <span class="fn-text">下一頁</span>
                <img src="~/Content/img/next_page.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="stockinBtn" href="javascript: void(0)" class="fr fn-btn submit">
                <span class="fn-text">轉倉管入庫</span>
                <img src="~/Content/img/stockin.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="trackoutFinishBtn" href="javascript: void(0)" class="fr fn-btn submit">
                <span class="fn-text">完工</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>


    </div>
</div>

<div class="content subpage">

</div>








