﻿@{
    ViewBag.Title = "製令暫停";
    ViewBag.TopTitle = "製令暫停";
    if ( ( bool )TempData["MainPage"] == false )
    {
        Layout = null;
        <script src="~/Scripts/app/wipHold/index.js"></script>  // seems bad, but works
    }
}
@section Scripts{
<script src="~/Scripts/app/wipHold/index.js"></script>
}

<div class="content">
    @if ( ( bool )TempData["MainPage"] == false )
    {
        <a id="btnBack" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
            <span class="fn-text">回上一頁</span>
            <img src="~/Content/img/logout.png" height="30px">
        </a>
    }
    else
    {
        <a id="btnLogout" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
            <span class="fn-text">登出</span>
            <img src="~/Content/img/logout.png" height="30px">
        </a>
    }

    <div class="dsc-header">
        製令暫停:
        <span></span>
    </div>
    <div class="form-container">
        <table class="table-list main" style="margin-top: 50px;">
            <thead>
            <tr>
                <th>製令單別-單號;工序;製程;生產線</td>
            </tr>
            </thead>
            <tbody>
            <tr class="list-row2">
                <td>
                    <!--moid-->
                    <input class="form-control moid" type="text" value="@ViewData["moid"]" disabled="disabled" />
                </td>
            </tr>
            </tbody>
        </table>

        <div style="padding: 20px 5px;margin-top: 20px;">
            <input tabindex="1" type="checkbox" id="fullMoid" name="fullMoid" />
            <label for="fullMoid">以全製令來暫停</label>
        </div>

        <div class="stop-status">暫停中</div>
    </div>
    <div class="bottom-panel row">

        <div class="col-md-2"></div>
        <div class="col-md-2">
            <!--input id="cancelStopBtn" type="button" class="btn lg cancel fl" value="取消暫停" /-->
            <a id="cancelStopBtn" href="javascript: void(0)" class="fr fn-btn cancel fixwidth" style="right:15px;top:20px;">
                <span class="fn-text">取消暫停</span>
                <img src="~/Content/img/delete_input.png" height="30px">
            </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <!--input id="acceptStopBtn" type="button" class="btn lg submit fr" style="right:15px;top:20px;" value="確定暫停" /-->
            <a id="acceptStopBtn" href="javascript: void(0)" class="fr fn-btn submit fixwidth" style="right:15px;top:20px;">
                <span class="fn-text">確定暫停</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

