﻿
@{
    ViewBag.Title = "Trackin";
}

@section Scripts{
    <script src="~/Scripts/app/equipIntegrate/trackin.js"></script>
}

<div class="content">
    <a id="btnLogout" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
        <span class="fn-text">登出</span>
        <img src="~/Content/img/logout.png" height="30px">
    </a>
    <div class="dsc-header">
        製令輸入:
        <span>請刷入工單製令條碼</span>
    </div>
    <div class="form-container">

        <div id="count" style="margin-top: 50px;margin-left:70%; width:30%">
            <table class="table-list main">
                <thead>
                    <tr>
                        <th class="hd2" style="width:50%;">待進量</th>
                        <th class="hd2" style="width:50%;">待出量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="list-row2">
                        <td>
                            <input class="form-control checkinQty" type="text" disabled="disabled" value="0" />
                        </td>
                        <td>
                            <input class="form-control checkoutQty" type="text" disabled="disabled" value="0" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="moid" style="margin-top: 20px;">
            <table class="table-list main">
                <thead>
                    <tr>
                        <th class="hd2" style="width:70%;">製令單別-單號;工序;製程;生產線</th>
                        <th class="hd2" style="width:30%;">數量</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="list-row2">
                        <td>
                            <!--moid-->
                            <input class="form-control trackMoid" type="text" disabled="disabled" />
                        </td>
                        <td>
                            <!--qty-->
                            <input class="form-control trackQty" type="text" disabled="disabled" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="bottom-panel row">

        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <a id="btnTrackin" href="javascript: void(0)" class="fr fn-btn submit" style="right:15px;top:20px;">
                <span class="fn-text">進站</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
        <div class="col-md-2">
            <a id="btnTrackout" href="javascript: void(0)" class="fr fn-btn submit hidden" style="right:15px;top:20px;">
                <span class="fn-text">出站</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
    </div>
</div>

