@{
    ViewBag.Title = "Trackout";
}

@section Scripts{
    <script src="~/Scripts/app/equipIntegrate/trackout.js"></script>
}

<div class="content main">
    <span id="hwnd" class="hide">@HttpContext.Current.Session["Hwnd"]</span>
    <div style="margin-top: 5px;margin-left:69.6%; width:30%" class="fr abs">
        <table class="table-list ">
            <thead>
                <tr>
                    <th class="hd2" style="width:50%;">目前數量</th>
                    <th class="hd2" style="width:50%;">人/機時間</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list-row2">
                    <td>
                        <input id="currentCount" class="form-control current-count" type="text" disabled="disabled" value="0" />
                    </td>
                    <td>
                        <input class="form-control man-time" type="text" disabled="disabled" value="0" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dsc-header">
        製令輸入:
        <span>請刷入工單製令條碼</span>
    </div>
    <div class="carry-in-curcount" style="margin-left:34%;">
        <a href="javascript: void(0)" class="fl btn2 abs" style="margin-top:-32px;">
            <div id="signal" class="div-square cr-green fl abs"></div>
            <span class="fn-text" style="margin-left:20%; margin-top:-2px;">帶入目前數量</span>
        </a>
    </div>
    <div class="form-container-full full-height">
        <table class="table-list processing" style="margin-top: 40px; margin-left:10px; width:99%">
            <thead>
                <tr>
                    <th style="width:33%;">製令單別-單號;工序;製程;生產線</th>
                    <th style="width:9.3%;">數量</th>
                    <th style="width:10.7%;">總人時</th>
                    <th style="width:10.4%;">
                        人時
                    </th>
                    <th style="width:9.8%;">
                        機時
                    </th>
                    <th style="width:9%;">
                        人數
                    </th>
                    <th style="width:9.6%;">
                        工時&#10;明細
                    </th>
                    <th style="width:8.2%;">&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <tr class="list-row3">
                    <td>
                        <!--moid-->
                        <input class="form-control trackout-content" disabled="disabled" type="text" value="" />
                    </td>
                    <td>
                        <!--qty-->
                        <input class="form-control trackout-num" type="text" value="" />
                        <input class="trackout-maxnum" type="hidden" />
                    </td>
                    <td>
                        <!--ManWorkTime 總人時-->
                        <input class="form-control trackout-person-time-sum" disabled="disabled" type="text" value="" />
                    </td>
                    <td>
                        <!--AvrWorkTime 人時-->
                        <input class="form-control trackout-person-time" type="text" value="" />
                    </td>
                    <td>
                        <!--DeveiceTime 機時-->
                        <input class="form-control trackout-device-time" type="text" value="" />
                    </td>
                    <td>
                        <!--ManNum 人數-->
                        <input class="form-control trackout-person-num" type="text" value="" />
                    </td>
                    <td class="ct">
                        <input type="button" class="button fn2 detailBtn" value="工時&#10;明細" />
                    </td>
                    <td>
                        <input type="button" class="button fn3 errorDetailBtn" value="異常&#10;原因" />
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table-list queue" style="width:50%; margin-top:10px; margin-left:10px;">
            <thead>
                <tr>
                    <th style="width:10%;">&nbsp;</th>
                    <th style="width:10%;">項次</th>
                    <th style="width:60%;">製令單別-單號;工序;製程;生產線</th>
                    <th style="width:20%;">待進量</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">1</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">2</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>                        
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">3</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">4</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">5</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">6</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">7</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">8</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">9</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>
                <tr class="list-row">
                    <td class="ct">
                        <input type="checkbox">
                    </td>
                    <td class="ct">10</td>
                    <td>
                        <input class="form-control next-trackout-content" disabled="disabled" type="text" />
                    </td>
                    <td>
                        <input class="form-control next-trackout-num" type="text" />
                        <input class="next-trackout-maxnum" type="hidden" />
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="bottom-panel row">
        <div class="col-sm-2">
            <a id="btnEquipLogout" href="javascript: void(0)" class="fl fn-btn back">
                <span class="fn-text">登出</span>
                <img src="~/Content/img/logout.png" height="30px">
            </a>
        </div>
        <div class="col-sm-2">
            <a id="btnDelete" href="javascript: void(0)" class="fl fn-btn delete hide">
                <span class="fn-text">刪除</span>
                <img src="~/Content/img/delete_input.png" height="30px">
            </a>
        </div>
        <div class="col-sm-2">
            <a id="btnWipHold" href="javascript: void(0)" class="fl fn-btn submit">
                <span class="fn-text">製令暫停</span>
                <img src="~/Content/img/logout_icon.png" height="30px">
            </a>
        </div>
        <div class="col-sm-2">
            <a id="nextPage" href="javascript: void(0)" class="fl fn-btn pagenav">
                <span class="fn-text">下一頁</span>
                <img src="~/Content/img/next_page.png" height="30px">
            </a>
            <a id="prevPage" href="javascript: void(0)" class="fl fn-btn pagenav">
                <span class="fn-text">上一頁</span>
                <img src="~/Content/img/prev_page.png" height="30px">
            </a>
        </div>

        <div class="col-sm-2">
            <a id="btnEquipStatus" href="javascript: void(0)" class="fr fn-btn submit">
                <span class="fn-text">設備狀態</span>
                <img src="~/Content/img/logout_icon.png" height="30px">
            </a>
        </div>
        <div class="col-sm-2">
            <a id="btnStockin" class="fr fn-btn submit">
                <span class="fn-text">轉倉管入庫</span>
                <img src="~/Content/img/stockin.png" height="30px">
            </a>
        </div>
        <div class="col-sm-2">
            <a id="btnTrackout" class="fr fn-btn submit">
                <span class="fn-text">出站</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>


    </div>
</div>

<div class="content subpage">

</div>

