﻿@{
    ViewBag.Title = "製令查詢";
    ViewBag.TopTitle = "製令查詢";
}
@section Scripts{
    <script src="~/Scripts/app/moInfo/index.js"></script>
}

<div class="content">
    <!--input id="btnLogout" type="button" class="btn lg back abs" style="right:15px;top:20px;" value="登出" /-->
    <a id="btnLogout" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
        <span class="fn-text">登出</span>
        <img src="~/Content/img/logout.png" height="30px">
    </a>
    <div class="dsc-header">
        機台代碼:
        <span>請刷入機台條碼</span>
    </div>
    <div class="form-container">
        <div class="input-group style1" style="padding-top: 50px;">
            <span class="input-group-title cell">機台代碼</span>
            <input id="txtEquipment" class="form-control w75 cell last" disabled="disabled" type="text" value="@ViewData["Equipment"]" />
        </div>


    </div>
    <div class="bottom-panel row">

        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <input id="btnQuery" type="button" class="btn lg submit" style="right:15px;top:20px;" value="製令查詢" />
        </div>
    </div>
</div>

