﻿@{
    ViewBag.Title = "製令查詢";
    ViewBag.TopTitle = "製令查詢";
}
@section Scripts{
    <script src="~/Scripts/app/moInfo/query.js"></script>
}

<div class="content">
    <div class="dsc-header">
        機台代碼:
        <span>請刷入工單製令條碼</span>
    </div>
    <div class="form-container">
        <table class="table-list main" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>製令單別-單號;工序;製程;生產線</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list-row2">
                    <td>
                        <!--moid-->
                        <input class="form-control trackout-moid" type="text" disabled="disabled"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="qty-result row" style="margin-top: 30px;">
            <div class="col-md-6" style="padding-left: 0;padding-right: 7px;">
                <table class="table-list main">
                    <thead>
                    <tr>
                        <td>待進量</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="list-row2">
                        <td>
                            <input id="qtyIn" class="form-control" type="text" disabled="disabled"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" style="padding-right: 0;padding-left: 7px;">
                <table class="table-list main">
                    <thead>
                    <tr>
                        <td>待出量</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="list-row2">
                        <td>
                            <input id="qtyOut" class="form-control" type="text" disabled="disabled"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom-panel row">

        <div class="col-md-2">
            <!--input id="btnLogout" type="button" class="btn lg back fl" value="登出" /-->
            <a id="btnLogout" href="javascript: void(0)" class="fl fn-btn back fixwidth">
                <span class="fn-text">登出</span>
                <img src="~/Content/img/logout.png" height="30px">
            </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>

