﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.TopTitle = "";
    
    const string Hide = "hide";
    string trackinout = string.Empty;
    string simpleTrack = string.Empty;
    string none = string.Empty;
    string equipIntegrate = string.Empty;
    
    if((int)ViewData["Model"] == 0)
    {
        none = Hide;
        equipIntegrate = Hide;
    }
    else if((int)ViewData["Model"] == 1)
    {
        trackinout = Hide;
        simpleTrack = Hide;
    }
}

@section Scripts{
    <script src="~/Scripts/app/home/index.js"></script>
}

@section Styles{
    <style>
        body {
            background-color: #424242;
        }

        .header {
            background-color: #FFFFFF;
        }
    </style>
}
<div class="content">
    <div class="dsc-header">
        <span id="network">
            <img src="~/Content/img/online.png" class="online" alt="ONLINE">
            <img src="~/Content/img/offline.png" class="offline hide" alt="OFFLINE">
        </span>
    </div>
    <!--First Row-->
    <div class="home-container row" style="margin-top: 20px;">
        <div class="col-md-4 rt @trackinout" id="trackinout">
            <a href="@Url.Action("Index", "Trackinout")" class="homebtn color-style-6">
                <span class="home-text five-char">進出站報工</span>
                <img src="~/Content/img/home_trackinout.png" class="home-img">
            </a>
        </div>
        <div class="col-md-4 ct @simpleTrack" id="simpleTrack">
            <a href="@Url.Action("Index", "SimpleTrack")" class="homebtn color-style-5">
                <span class="home-text">簡易報工</span>
                <img src="~/Content/img/home_simpletrack.png" class="home-img">
            </a>
        </div>
        <div class="col-md-4 ct @none" id="none">
        </div>
        <div class="col-md-4 ct @equipIntegrate" id="equipIntegrate">
            <a href="@Url.Action( "Index", "EquipIntegrate")" class="homebtn color-style-7">
                <span class="home-text">設備整合</span>
                <img src="~/Content/img/home_eq_integrate.png" class="home-img">
            </a>
        </div>
        <div class="col-md-4 lt" id="moInfo">
            <a href="@Url.Action("Index", "MoInfo")" class="homebtn color-style-1">
                <span class="home-text">製令查詢</span>
                <img src="~/Content/img/home_moinfo.png" class="home-img">
            </a>
        </div>
    </div>
    <!--Second Row-->
    <div class="home-container row">
        <div class="col-md-4 rt" id="rework">
            <a href="@Url.Action("Index", "Rework")" class="homebtn color-style-4">
                <span class="home-text">重工</span>
                <img src="~/Content/img/home_rework.png" class="home-img">
            </a>
        </div>
        <div class="col-md-4 ct" id="wipHold">
            <a href="@Url.Action("Index", "WipHold")" class="homebtn color-style-2">
                <span class="home-text">製令暫停</span>
                <img src="~/Content/img/home_wiphold.png" class="home-img">
            </a>
        </div>
        <div class="col-md-4 lt" id="equipStatus">
            <a href="@Url.Action("Index", "EquipStatus")" class="homebtn color-style-3">
                <span class="home-text">設備狀態</span>
                <img src="~/Content/img/home_eq_status.png" class="home-img">
            </a>
        </div>
    </div>
</div>

<div class="footer">
    版本:<span class="version">@ViewData["Version"]</span>
    <a id="btnShutdown" href="javascript: void(0)" class="fr">
        <img src="~/Content/img/shutdown.png">
    </a>
</div>
