﻿
@{
    ViewBag.Title = "登入";
    ViewBag.TopTitle = "登入";

}
@section Scripts{
    <script src="~/Scripts/app/home/login.js"></script>
    <script type="text/javascript">
        var ui = WA.ui;
        var common = WA.common;
        
        var $username = $("#txtUserName");
        var $password = $("#txtPassword");

        if ($username.val() != "" && $password.val() != "") { Login(); }

        $username.on('change', function () {
            var self = $(this);
            common.checkUserIdFormat(self);
        });

        $("#btnLogin").on('click', Login);

        function Login() {
            var source = {
                'UserName': $username.val(),
                'Password': $password.val()
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/SFTClient/api/Authority/Login/",
                data: JSON.stringify(source),
                contentType: "application/json; charset=utf-8",
                beforeSend: function () { common.ajaxBlockUI(); },
                complete: function () { $.unblockUI(); },
                success: function (output) {
                    if (output.Result == "success")
                    {
                        location.href = "/SFTClient/@Session["page"]/Index";
                    }
                    else {
                        ui.modalView({
                            modalHeader: "系統訊息",
                            modalBody: output.SysMsg,
                            modalFooter: "msgMode",
                            alert: true,
                            size: { w: 350, h: 200 }
                        });
                    }
                },
                error: function (error) {
                    ui.modalView({
                        modalHeader: "系統訊息",
                        modalBody: error.statusText,
                        modalFooter: "msgMode",
                        alert: true,
                        size: { w: 350, h: 200 }
                    });
                }
            });
        }
    </script>
}


<div class="content">
    <a href="@Url.Action("Index", "Home")" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
        <span class="fn-text">回主選單</span>
        <img src="~/Content/img/logout.png" height="30px">
    </a>

    <div class="dsc-header">
    使用者登入:
        <span>請刷入登入者條碼</span>
    </div>

    <div class="form-container">
        <div class="input-group style1" style="padding-top: 50px;">
            <span class="input-group-title cell">員工代碼</span>
            <input id="txtUserName" class="form-control w75 cell last" type="text" value="@ViewData["UserName"]" disabled="disabled" />
        </div>
        <div class="input-group style1">
            <span class="input-group-title cell">密碼設定</span>
            <input id="txtPassword" class="form-control w75 cell last qwerty" type="password" value="@ViewData["Password"]" />
        </div>
    </div>
    <div class="bottom-panel row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <!--input id ="btnLogin" type="button" class="btn lg submit" style="right:15px;top:20px;" value="登入" /-->
            <a id="btnLogin" href="javascript: void(0)" class="fr fn-btn submit fixwidth" style="right:15px;top:20px;">
                <span class="fn-text">登入</span>
                <img src="~/Content/img/logout.png" height="30px">
            </a>
        </div>
    </div>

</div>


