﻿@{
    ViewBag.Title = "參數設定";
    ViewBag.TopTitle = "參數設定";
}
@section Scripts{    
    <script src="~/Scripts/app/home/setting.js"></script>

}


<div class="content clearfix row">
    <div class="ip setting-section">
        <div class="ip-header clearfix">
            <ul class="tab fl">
                <li id="static" class="active"><a href="javascript: void(0)">固定IP</a></li>
                <li id ="dhcp" class="last"><a href="javascript: void(0)">DHCP</a></li>
            </ul>
        </div>

        <div class="input-group ipstyle first">
            <span class="input-group-title cell">本地IP</span>
            <input class="form-control w20 cell qwerty-num" id="localIP1" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="localIP2" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="localIP3" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num last" id="localIP4" type="text" value="255" maxlength="3" />

            <!--<input type="button" class="input-group-btn w20 cell last" value="更新"/>-->

        </div>
        <div class="input-group ipstyle">
            <span class="input-group-title cell">子網路遮罩</span>
            <input class="form-control w20 cell qwerty-num" id="localMask1" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="localMask2" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="localMask3" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num last" id="localMask4" type="text" value="255" maxlength="3" />

            <!--<input type="button" class="input-group-btn w20 cell last" value="更新"/>-->
        </div>
        <div class="input-group ipstyle">
            <span class="input-group-title cell">預設閘道</span>
            <input class="form-control w20 cell qwerty-num" id="localGateway1" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="localGateway2" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="localGateway3" type="text" value="255" maxlength="3" />

            <input class="form-control w20 cell last qwerty-num" id="localGateway4" type="text" value="255" maxlength="3" />
            <div class="input-group-blank-btn cell last">&nbsp;&nbsp;</div>
        </div>
        <div class="input-group ipstyle">
            <span class="input-group-title cell">伺服器IP</span>
            <input class="form-control w20 cell qwerty-num" id="serverIP1" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="serverIP2" type="text" value="255" maxlength="3" />
            <input class="form-control w20 cell qwerty-num" id="serverIP3" type="text" value="255" maxlength="3" />

            <input class="form-control w20 cell last qwerty-num" id="serverIP4" type="text" value="255" maxlength="3" />
            <div class="input-group-blank-btn cell last">&nbsp;&nbsp;</div>
        </div>
        <div class="input-group ipstyle">
            <span class="input-group-title cell">通訊埠</span>
            <input class="form-control w60 cell last qwerty-num" id="serverPort" type="text" value="255" />
        </div>
        <div class="input-group ipstyle">
            <span class="input-group-title cell">連線超時(秒)</span>
            <input class="form-control w60 cell last qwerty-num" id="serverTimeout" type="text" value="255" />
        </div>
    </div>
    <div class="setting-section">
        <div class="input-group userstyle">
            <span class="input-group-title cell">預設登入使用者</span>
            <input class="form-control w55 cell last qwerty" id="username" type="text" value="" />
        </div>
        <div class="input-group userstyle">
            <span class="input-group-title cell">密碼設定</span>
            <input class="form-control w55 cell last qwerty" id="password" type="text" value="" />
        </div>
        <div class="input-group userstyle">
            <span class="input-group-title cell">自動登出時間(分)</span>
            <input class="form-control w55 cell last qwerty-num" id="autoLogoutTime" type="text" value="" />
        </div>

        <!--<div class="input-group-divider"></div>-->

        <div class="input-group style3">
            <span class="input-group-title cell">公司代碼</span>
            <input class="form-control w55 cell last qwerty" id="company" type="text" value="" />
        </div>
        <div class="input-group style3">
            <span class="input-group-title cell">預設機台代碼</span>
            <input class="form-control w55 cell last qwerty" id="equipment" type="text" value="" />
        </div>
        <div class="input-group style3">
            <span class="input-group-title cell">工件技術功能選擇</span>
            <input class="form-control w55 cell last qwerty-num" id="equipDataCollection" type="text" value="" />
        </div>
        <div class="input-group-note">
            <div class="row">
                <div class="col-md-6">
                    <span><b>0</b>&nbsp;&nbsp;標準(沒接,手動)</span><br>
                </div>
                <div class="col-md-6">
                    <span><b>1</b>&nbsp;&nbsp;設備整合</span><br>
                </div>

            </div>
        </div>

        <div class="input-group style3">
            <span class="input-group-title cell">系統整合選擇</span>
            <input class="form-control w55 cell last qwerty-num" id="systemModel" type="text" value="" />
        </div>
        <div class="input-group-note">
            <div class="row">
                <div class="col-md-4">
                    <span><b>0</b>&nbsp;&nbsp;SFP</span><br>
                </div>
                <div class="col-md-4">
                    <span><b>1</b>&nbsp;&nbsp;WIP</span><br>
                </div>
                <div class="col-md-4">
                    <span><b>2</b>&nbsp;&nbsp;其他</span><br>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="bottom-setting">
    <div class="fixarea">
        <!--<div class="btn lg submit">確認</div>-->
        <input id="btnSumit" type="button" class="btn lg submit" value="確認" />

    </div>
    <div class="option-panel">
        <div class="row">
            <div class="col-md-4">
                <ul class="lang-list">
                    <li>
                        <input tabindex="1" type="radio" id="tc-lang" name="lang">
                        <label for="tc-lang">繁體中文</label>
                    </li>
                    <li>
                        <input tabindex="2" type="radio" id="sc-lang" name="lang">
                        <label for="sc-lang">簡體中文</label>
                    </li>
                    <li>
                        <input tabindex="3" type="radio" id="en-lang" name="lang">
                        <label for="en-lang">English</label>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="lang-list">
                    <li>
                        <input type="checkbox" id="equipTrackinoutModel">
                        <label for="equipTrackinoutModel">開啟設備報工</label>
                    </li>
                    <li>
                        <input type="checkbox" id="gstate2">
                        <label for="gstate2">只開設備狀態</label>
                    </li>
                    <li>
                        <input type="checkbox" id="gstate3">
                        <label for="gstate3">隱藏整批製令暫停</label>
                    </li>

                </ul>
            </div>
            <div class="col-md-4">
                <ul class="lang-list">
                    <li>
                        <input type="checkbox" id="gstate4">
                        <label for="gstate4">多餘數自動帶入</label>
                    </li>
                    <li>
                        <input type="checkbox" id="liveUpdate">
                        <label for="liveUpdate">開啟自動更新</label>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
