﻿@{
ViewBag.Title = "重工報工";
ViewBag.TopTitle = "重工報工";
}
@section Scripts{
<script src="~/Scripts/app/rework/reworkout.js"></script>
}

<div class="content main">
    <div class="dsc-header">
        重工製令出站:
        <span></span>
    </div>
    <div class="form-container">
        <table class="table-list main" style="margin-top: 50px;">
            <thead>
            <tr>
                <th class="hd2" style="width:70%;">製令單別-單號;工序;製程;生產線</td>
                <th class="hd2" style="width:30%;">人時(分)</td>

            </tr>
            </thead>
            <tbody>
            <tr class="list-row2">
                <td>
                    <!--moid-->
                    <input class="form-control rework-moid" type="text" disabled="disabled"/>
                </td>
                <td>
                    <!--moid-->
                    <input class="form-control rework-time" type="text"/>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="qty-result row" style="margin-top: 30px;">
            <div class="col-md-5" style="padding-left: 0;padding-right: 7px;">
                <table class="table-list main">
                    <thead>
                    <tr>
                        <td>異常原因總數量</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="list-row2">
                        <td>
                            <input id="exceptionSumQty" class="form-control" type="text" value="0" disabled="disabled"  />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5" style="padding-right: 7px;padding-left: 7px;">
                <table class="table-list main">
                    <thead>
                    <tr>
                        <td>異常原因條碼個數</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="list-row2">
                        <td>
                            <input id="exceptionListNum" class="form-control" type="text" value="0" disabled="disabled" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 ct" style="padding-right: 0;padding-left: 7px;">
                <input id="exDetailBtn" type="button" class="btn lg fn3 errorDetailBtn flex" style="margin-top: 11px;" value="異常原因" />
            </div>
        </div>
    </div>
    <div class="bottom-panel row">

        <div class="col-md-2">
            <!--input id="btnLogout" type="button" class="btn lg back fl" value="登出" /-->
            <a id="btnLogout" href="javascript: void(0)" class="fl fn-btn back">
                <span class="fn-text">登出</span>
                <img src="~/Content/img/logout.png" height="30px">
            </a>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <!--input id="btnRework" type="button" class="btn lg submit fr" style="right:15px;top:20px;" value="重工出站完成" /-->
            <a id="btnRework" href="javascript: void(0)" class="fr fn-btn submit">
                <span class="fn-text">重工出站完成</span>
                <img src="~/Content/img/completed.png" height="30px">
            </a>
        </div>
    </div>
</div>

<div class="content subpage">

</div>
