﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />

    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SFT</title>
    @Styles.Render( "~/Content/css" )
    @Scripts.Render( "~/bundles/modernizr" )
    @RenderSection("Styles", required: false)
    <style>
        /* custom jquery keyboard size */
	    .ui-keyboard div { font-size: 23px; }
	    .ui-keyboard .ui-keyboard-input { font-size: 24px; }
	    .ui-body .ui-btn { margin: 0; font-size: 20px; }
	    .ui-body .ui-keyboard-button { height: 3em; }
	    .ui-body .ui-btn-inner { height: 3em; padding: 1em 0; }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class='header'>
            <div class="logo-bar clearfix">               
                <span class="toptitle">@ViewBag.TopTitle</span>
                <span class="header-logo-bg">
                    <image src="~/Content/img/header_logo_bg.png" height="51"></image>
                </span>
                <span class="header-logo-fr">
                    <image src="~/Content/img/header_logo_fr.png"></image>
                </span>
                <span class="header-logo-fl">
                    <image src="~/Content/img/header_logo_fl.png"></image>
                </span>
                <a href="javascript: void(0)" class="top-settings"></a>
            </div>
            <div class="state-bar clearfix">
                <div class="datestate fl"><span id="clock"></span></div>

                <ul class="user-info fr">
                    <li class="usr">
                        <span>登入人員</span>
                        <span class="usrname">@HttpContext.Current.Session["UserName"]</span>

                    </li>
                    <li class="device">
                        <span>機台設備代碼</span>
                        <span class="devicename">@HttpContext.Current.Session["Equipment"]</span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="view">@RenderBody()</div>
    </div>

    <div class="modal-view">
        <div class="modal-frame">
            <div class="modal-header"></div>
            <div class="modal-body">
                <!--<div class="input-group">-->
                    <!--<span class="input-group-title cell">請輸入人時:</span>-->
                    <!--<input class="form-control w60 cell last qwerty-num" id="serverPort" type="text" value="0" />-->
                <!--</div>-->
            </div>
            <div class="modal-footer row">
                <!--<div class="col-md-6">-->
                    <!--<input type="button" class="modal-btn cancel" value="取消"/>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<input type="button" class="modal-btn submit" value="確定"/>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    @Scripts.Render( "~/bundles/jquery" )
    @Scripts.Render( "~/bundles/vendor" )
    @Scripts.Render( "~/bundles/app" )


    @RenderSection( "scripts", required: false )
</body>
</html>
