﻿@{
    ViewBag.Title = "設備狀態";
    ViewBag.TopTitle = "設備狀態";
    if ( ( bool )TempData["MainPage"] == false )
    {
        Layout = null;
        <script src="~/Scripts/app/equipStatus/index.js"></script>  // seems bad, but works
    }
}
@section Scripts{
    <script src="~/Scripts/app/equipStatus/index.js"></script>
}

<div class="content">
    @if ( ( bool )TempData["MainPage"] == false )
    {
        <a id="btnBack" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
            <span class="fn-text">回上一頁</span>
            <img src="~/Content/img/logout.png" height="30px">
        </a>
    }
    else
    {
        <a id="btnLogout" href="javascript: void(0)" class="fn-btn back fixwidth abs" style="right:15px;top:20px;">
            <span class="fn-text">登出</span>
            <img src="~/Content/img/logout.png" height="30px">
        </a>
    }
    <div class="dsc-header">
        設備狀態:
        <span>請刷入機台條碼</span>
    </div>
    <div class="device-status-title">
        目前設備狀態:
    </div>
    <div class="device-status">
        閒置
    </div>
    <div class="form-container">
        <table class="table-list main" style="margin-top: 50px;">
            <thead>
                <tr>
                    <th>機台代碼</th>
                </tr>
            </thead>
            <tbody>
                <tr class="list-row2">
                    <td>
                        <input id="device-code" class="form-control " type="text" disabled="disabled" value="@ViewData["Equipment"]" />
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row" style="margin-top: 40px;">
            <div class="col-md-6 ct">
                <input id="normal" type="button" class="btn lg status status-flex " style="margin-top: 11px;" value="正常" />
            </div>
            <div class="col-md-6 ct">
                <input id="offWork" type="button" class="btn lg status status-flex" style="margin-top: 11px;" value="下班" />
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6 ct">
            </div>
            <div class="col-md-6 ct">
                <input id="setup" type="button" class="btn lg status status-flex" style="margin-top: 11px;" value="設置" />
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6 ct">
                <input id="breakdown" type="button" class="btn lg status status-flex" style="margin-top: 11px;" value="故障" />

            </div>
            <div class="col-md-6 ct">
                <input id="pause" type="button" class="btn lg status status-flex" style="margin-top: 11px;" value="暫停" />
            </div>
        </div>

    </div>

</div>

